RAG Workflow.json
{
  "name": "RAG Workflow",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1_pEjngNm_EzUp46ue0WAFnx4C9pG5Xol",
          "mode": "list",
          "cachedResultName": "n8n",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1_pEjngNm_EzUp46ue0WAFnx4C9pG5Xol"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -304,
        -64
      ],
      "id": "bb2d4cea-4108-4c2a-8d6a-80cbf84d237b",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "hFWpNFYT5bDl9b5Z",
          "name": "Google Drive OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -96,
        -64
      ],
      "id": "4d9c89cf-699c-4996-809f-447aaefbb980",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "hFWpNFYT5bDl9b5Z",
          "name": "Google Drive OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "sample1",
          "mode": "list",
          "cachedResultName": "sample1"
        },
        "options": {
          "pineconeNamespace": "Document1"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        112,
        -64
      ],
      "id": "70bb96a1-5baa-4035-80e8-9234cb3ac439",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "BYcTpw4MiW6tM2fk",
          "name": "Pinecone account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        0,
        128
      ],
      "id": "8a691286-0cbf-4892-9ea6-3363b65707ab",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "BiDZMOHiaI42bkRy",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        128,
        112
      ],
      "id": "bb3d7ba0-44a5-45e1-9ced-f76dc4db296c",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        384,
        208
      ],
      "id": "e3a55f66-8acf-4ad4-ab1b-aa3ca1c11bf5",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        464,
        -64
      ],
      "id": "be55e68c-fd35-4fc9-bb06-808d5c6c35e7",
      "name": "When chat message received",
      "webhookId": "87bb31e8-5fa4-4612-8832-5b9d4456fd97"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        672,
        -64
      ],
      "id": "2db5d068-e9f1-48cd-9234-61cf73edd41b",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "fetch the document from the pdf document . tell me about RAG,vector database and cost expectations.",
        "pineconeIndex": {
          "__rl": true,
          "value": "sample1",
          "mode": "list",
          "cachedResultName": "sample1"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        848,
        144
      ],
      "id": "d73a5e1d-5d99-47e1-a8aa-a1b6146e6355",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "BYcTpw4MiW6tM2fk",
          "name": "Pinecone account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        944,
        288
      ],
      "id": "6dd98b01-0689-4a8f-9a04-e36f66e8c4c3",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "4EqymSrTpC0jtlbB",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        544,
        144
      ],
      "id": "8854f77d-4223-4fc5-9576-4a204425151e",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "BiDZMOHiaI42bkRy",
          "name": "n8n free OpenAI API credits"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "f4c87899-ac0b-4bd0-88f7-409158c29631",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "825ccea0ae60859bbd34fd30a201fecb73d58d5f39169d01578d690581b93bf5"
  },
  "id": "O7S7oBNguf1frweV",
  "tags": []
}